<footer class="site-footer">
  <div style="text-align:center;">
    <a href="https://twitter.com/ferjorosa" target="_blank" style="margin-right: 10px;">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/twitter.svg" alt="Twitter" style="width:24px;vertical-align:middle;">
    </a>
    <a href="https://github.com/ferjorosa" target="_blank" style="margin-right: 10px;">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg" alt="GitHub" style="width:24px;vertical-align:middle;">
    </a>
    <a href="https://huggingface.co/ferjorosa" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons/icons/huggingface.svg" alt="HuggingFace" style="width:24px;vertical-align:middle;">
    </a>
  </div>
</footer>